<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.7.2"/>
        <httpRuntime targetFramework="4.7.2"/>
        <sessionState timeout="30"/>
        <pages>
            <namespaces>
                <add namespace="System.Data"/>
                <add namespace="MySql.Data.MySqlClient"/>
                <add namespace="MusicAch.Models"/>
            </namespaces>
        </pages>
    </system.web>
   
    <connectionStrings>
        <add name="MusicAchDB"
             connectionString="Server=47.116.117.22;Database=MusicAch;Uid=root;Pwd=NYg7rJvAypiDhZZ;charset=utf8mb4;"
             providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A"
                                  culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
